.blackBtn {
    background-color: #2E2B2B;
    color: #fff;
    width: 10.5rem;
    height: 3.2rem;
    font-size: 32px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border: none;
}

.blackBtn:hover {
    background-color: #000;
}